@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/* Estilos por defecto */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: fredoka, monospace;
}

/* Mini animacion de scroll con los botones */

html{
    scroll-behavior: smooth;
}

/* Estilo por defecto */

a{
    text-decoration: none;
}

img{
    width: 200px;
}

/* Estilo scroll */

body::-webkit-scrollbar {
    width: 0px;
}
/* 
body::-webkit-scrollbar-thumb {
    border-radius: 22px;

    border: 10px solid #999;
}
*/