/*
      \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
       \\\\\ Aldahir Molina Medina  \\\\\
        \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
        |--------------------------------->
        //////////////////////////////////
       /////////// |2/5/24| /////////////
      //////////////////////////////////
*/
body {
  background: linear-gradient(90deg, #c8b6ff, #ffd6ff);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body h2 {
  color: #312244;
  font-size: 8vw;
  text-align: center;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  margin: 0 30px;
  transition: all 800ms ease;
  margin-top: 60px;
}
body h2:hover {
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}
@media (max-width: 700px) {
  body h2 {
    font-size: 12vw;
  }
}
body h3 {
  color: #003566;
  text-align: center;
}
body p {
  color: #540b0e;
}

/* MAIN */
/* Styles de las primeras 2 pantallas */
#presentacion {
  /* Bienvenida */
  /* Texto */
}
#presentacion .background {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}
#presentacion #myimg {
  width: 100%;
  height: 100%;
}
#presentacion #bienvenida {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  /* 
  background: url(../img/fondo4-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center; */
  border-bottom: 5px solid #020202;
}
#presentacion #bienvenida h1 {
  font-size: 12vw;
  text-align: center;
  background: linear-gradient(#9d7399, #6874e8);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 800ms ease;
  -webkit-text-fill-color: transparent;
}
#presentacion #text-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  height: 200vh;
  width: 100%;
  background: url(../img/fondo7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  border-end-end-radius: 70px;
  border-end-start-radius: 70px;
  border-bottom: 5px solid #fff;
}
#presentacion #text-intro .container {
  max-width: 1100px;
  min-width: 400px;
  margin: 30px 70px;
  text-align: center;
  border-radius: 20px;
  border: 2px solid #1e2029;
  padding: 20px 15px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}
#presentacion #text-intro h2 {
  color: #020202;
}
#presentacion #text-intro p {
  color: azure;
  font-size: 17px;
}
#presentacion #text-intro span {
  font-weight: 600;
}
#presentacion #text-intro .motivacional {
  color: lavenderblush;
}

/* Styles del div left */
#left {
  width: 25%;
  left: 0;
  position: absolute;
}
#left .container {
  padding: 30px 20px;
}
#left .container h3 {
  font-size: 32px;
  margin-bottom: 20px;
}
#left .container .divv {
  margin: 80vh 0;
}
#left .container .promo {
  text-align: center;
  margin-top: 50vh;
}
#left .container .promo p {
  color: #000;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 15px 10px;
}
#left .container .new .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
  margin: 20px 0;
  border: 2px solid #000;
  padding: 10px 0;
  text-align: center;
}
#left .container .new span {
  font-weight: 600;
}
#left .container .new a {
  text-align: center;
  margin: 10px 0;
  width: 70%;
  color: #000;
  background-color: #6200ff;
  border: 2px solid #000;
  transition: all 500ms ease;
  border-radius: 25px;
  font-weight: 500;
  font-size: 18px;
  padding: 2px 0;
}
#left .container .new a:hover {
  color: #fff;
  background-color: #ec76b6;
  border: 1px solid #000;
  scale: 1.1;
}
#left .container .new a:active {
  transition: all 100ms ease;
  scale: 1.01;
}
#left .container .semana h3 {
  margin-bottom: -20px;
}
#left .container .semana .container {
  padding: 25px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#left .container .semana .container .card {
  position: relative;
  width: 100%;
  height: 300px;
  margin: 20px 0;
  border-radius: 30px;
  border: 2px solid #000;
  /* Animacion */
}
#left .container .semana .container .card div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  border-radius: 30px;
}
#left .container .semana .container .card .front {
  transform: perspective(500px) rotateY(0deg);
  transition: all 800ms ease;
  overflow: hidden;
}
#left .container .semana .container .card .front h4 {
  font-size: 42px;
}
#left .container .semana .container .card .front div {
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
#left .container .semana .container .card .front .background-1 {
  background-image: url(../img/reto.jpg);
}
#left .container .semana .container .card .front .background-2 {
  background-image: url(../img/pregunta.jpg);
}
#left .container .semana .container .card .front .background-3 {
  background-image: url(../img/triva.png);
}
#left .container .semana .container .card .back {
  transform: perspective(500px) rotateY(180deg);
  transition: all 1.5s ease;
  padding: 25px;
  flex-direction: column;
}
#left .container .semana .container .card .back .title-back {
  font-weight: 600;
  font-size: 32px;
  margin: 10px;
}
#left .container .semana .container .card .back h5 {
  font-size: 22px;
  margin-bottom: 10px;
}
#left .container .semana .container .card .back span {
  font-weight: 600;
}
#left .container .semana .container .card .back a {
  background-color: #e474b7;
  color: #fff;
  border: 2px solid #333;
  padding: 5px 15px;
  margin-top: 15px;
  border-radius: 35px;
  transition: all 600ms ease;
  font-size: 16px;
}
#left .container .semana .container .card .back a:hover {
  background-color: #fff;
  color: #e474b7;
  scale: 1.15;
  font-size: 18px;
}
#left .container .semana .container .card .back a:active {
  scale: 1.01;
  transition: all 100ms ease;
  font-size: 16px;
}
#left .container .semana .container .card:hover .front {
  transform: perspective(500px) rotateY(180deg);
}
#left .container .semana .container .card:hover .back {
  transform: perspective(500px) rotateY(360deg);
}
#left .container .redes .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
#left .container .redes .container img {
  width: 20px;
  transform: translateY(4px);
  margin-right: 5px;
}
#left .container .redes .container a {
  text-align: center;
  padding: 5px 10px;
  border-radius: 40px;
  border: 2px solid #000;
  background-color: #6dc3de;
  color: #fff;
  transition: all 600ms ease;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  width: 140px;
}
#left .container .redes .container a:hover {
  scale: 1.1;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}
#left .container .redes .container a:active {
  scale: 1.01;
  transition: all 100ms ease;
}

/* Styles del div right */
#right {
  width: 75%;
  right: 0;
  position: absolute;
  /* Noticias Recientes */
  /* Tabla de pendientes*/
  /* Calendario */
  /* Profesores */
  /* Torneos */
  /* Galeria */
  /* Footer */
}
#right #news {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}
#right #news .container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#right #news .container .son-container {
  width: 300px;
  padding: 30px 20px;
  border: 2px solid #fff;
  border-radius: 20px;
  border-top-left-radius: 0px;
  margin: 20px 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  overflow: hidden;
  max-height: 500px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  transition: all 600ms ease;
}
#right #news .container .son-container h3 {
  font-size: 22px;
  margin-bottom: 15px;
}
#right #news .container .son-container span {
  font-weight: 600;
}
#right #news .container .son-container img {
  margin-top: 10px;
  width: 100%;
  border-radius: 30px;
}
#right #news .container .son-container ol {
  margin-left: 15px;
}
#right #news .container .son-container li {
  margin-bottom: 5px;
}
#right #news .container .son-container a {
  text-align: center;
}
#right #news .container .son-container a:hover {
  text-decoration: underline;
  color: maroon;
}
#right #news .container .son-container:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}
#right #pendientes {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}
#right #pendientes h2 {
  margin: 30px;
  text-align: center;
}
#right #pendientes thead {
  background-color: #ff99c8;
}
#right #pendientes th {
  padding: 5px 15px;
  border: 1px solid #000;
  text-align: center;
}
#right #pendientes tbody {
  padding: 10px;
}
#right #pendientes td {
  text-align: center;
  padding: 10px 5px;
  transition: all 500ms ease;
  background-color: #dea4ff;
}
#right #pendientes td:hover {
  background-color: #ffb3c6;
}
@media (max-width: 720px) {
  #right #pendientes .responsive-1 {
    display: none;
  }
}
@media (max-width: 620px) {
  #right #pendientes .responsive-3 {
    display: none;
  }
}
@media (max-width: 500px) {
  #right #pendientes .responsive-4 {
    display: none;
  }
}
#right #calendario {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}
#right #calendario h2 {
  margin-bottom: 40px;
}
#right #calendario .container {
  width: 90%;
  height: 500px;
}
#right #calendario .container .tabla {
  margin-bottom: 50px;
  text-align: center;
  border: 2px solid #000;
  border-radius: 30px;
}
#right #calendario .container .tabla h3 {
  margin: 20px 0;
  font-size: 32px;
}
#right #calendario .container .tabla ol {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
#right #calendario .container .tabla ol li {
  padding: 5px;
}
#right #calendario .container .tabla ol li:hover {
  background-color: #a066ff;
}
#right #calendario .container .tabla ol .day-name:hover {
  background-color: #eee;
}
#right #calendario .container .tabla .firts-day {
  grid-column-start: 4;
}
#right #calendario .container .tabla .day-name {
  background-color: #eee;
  font-weight: 600;
}
#right #calendario .container .simbologia {
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px 15px;
  width: 300px;
  margin: 0 auto;
}
#right #calendario .container .simbologia h3 {
  margin-bottom: 10px;
}
#right #info-profes {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}
#right #info-profes .wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}
#right #info-profes .card {
  position: relative;
  width: 325px;
  height: 450px;
  background: #000;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
#right #info-profes .poster {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#right #info-profes .poster::before {
  content: "";
  position: absolute;
  bottom: -45%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s ease;
}
#right #info-profes .card:hover .poster::before {
  bottom: 0;
}
#right #info-profes .poster img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s;
}
#right #info-profes .card:hover .poster img {
  transform: scale(1.1);
}
#right #info-profes .details {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: auto;
  padding: 1.5em 1.5em 2em;
  background: #000;
  -webkit-backdrop-filter: blur(16px) saturate(120%);
          backdrop-filter: blur(16px) saturate(120%);
  transition: 0.3s;
  color: #fff;
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#right #info-profes .card:hover .details {
  bottom: 0;
}
#right #info-profes .details h3,
#right #info-profes .details h4 {
  font-weight: 700;
}
#right #info-profes .details h3 {
  font-size: 1.5em;
  margin-bottom: 5px;
  color: #405de6;
}
#right #info-profes .details h4 {
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 10px;
  opacity: 0.6;
  color: #fff;
}
#right #info-profes .details .tags {
  display: flex;
  gap: 0.375em;
  margin-bottom: 0.875em;
  font-size: 0.85em;
}
#right #info-profes .details .tags span {
  padding: 0.35rem 0.65rem;
  color: #fff;
  border: 1.5px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  border-radius: 50px;
}
#right #info-profes .details .desc {
  color: #fff;
  opacity: 0.8;
  line-height: 1.5;
  margin-bottom: 1em;
}
#right #info-profes .ame {
  color: #fff100;
  animation-name: heartbeat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
    transform: rotate(10deg);
  }
  25% {
    transform: scale(1.3);
    transform: rotate(-10deg);
  }
  50% {
    transform: scale(1);
    transform: rotate(10deg);
  }
  75% {
    transform: scale(0.7);
    transform: rotate(-10deg);
  }
  100% {
    transform: scale(1);
    transform: rotate(10deg);
  }
}
#right #torneos {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}
#right #torneos h3 {
  margin-bottom: 10px;
}
#right #torneos .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#right #torneos .container .card {
  width: 350px;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 20px 30px;
  margin: 30px 30px;
}
#right #torneos .container .card p {
  text-align: justify;
}
#right #torneos .container .uls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#right #torneos .container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  gap: 5px;
}
#right #galery {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}
#right #galery h2 {
  margin: 0;
}
#right #footer {
  position: absolute;
  width: 133.5%;
  left: -33.5%;
  height: 120px;
  bottom: -130px;
  background: linear-gradient(270deg, #b8c0ff, #bbd0ff);
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#right #footer .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#right #footer .container .logo {
  color: #003566;
  font-size: 42px;
  font-weight: 800;
  margin: 0 50px;
  transition: all 400ms ease;
}
#right #footer .container .logo:hover {
  color: #03045e;
  font-size: 50px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
#right #footer .container .redes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 50px;
  gap: 20px;
}
#right #footer .container .redes a {
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  transition: all 400ms ease;
  width: 170px;
  text-align: center;
}
#right #footer .container .redes .insta {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
#right #footer .container .redes .face {
  background: linear-gradient(45deg, #0165E1, #17A9FD);
}
#right #footer .container .redes .face:hover {
  background: linear-gradient(45deg, #17A9FD, #0165E1);
}
#right #footer .container .redes .wasap {
  background: linear-gradient(45deg, #E5FFCC, #1EBEA5, #00E676, #D0E9EA, #EDF8F5, #ffffff);
  color: #004d40;
}
#right #footer .container .redes .wasap:hover {
  background: linear-gradient(45deg, #D0E9EA, #EDF8F5, #E5FFCC, #1EBEA5, #00E676, #ffffff);
}
#right #footer .container .redes a:hover {
  scale: 1.1;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
  font-size: 22px;
}
#right #footer .container .redes a:active {
  transition: all 50ms ease;
  scale: 0.9;
}
#right #footer .container .redes a {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
#right #footer .container .redes img {
  width: 20px;
  margin-right: 5px;
  transform: translateY(3px);
}
@media (max-width: 650px) {
  #right #footer .container .face {
    display: none;
  }
}

/* Responsive */
@media (max-width: 1200px) {
  #left {
    display: none;
  }
  #right {
    width: 100%;
  }
  #right #footer {
    width: 100%;
    left: 0;
  }
}/*# sourceMappingURL=style.css.map */