/*
      \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
       \\\\\ Aldahir Molina Medina  \\\\\
        \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
        |--------------------------------->
        //////////////////////////////////
       /////////// |2/5/24| /////////////
      //////////////////////////////////
*/

// Variables de estilos

@mixin medidas{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

// Mapa de colores
$colores:(
    color-h2: #312244,/* 000814 */
    color-h3: #003566,
    par:#540b0e /* 2c63cf */,
);

body{
    background: linear-gradient(90deg,#c8b6ff,#ffd6ff);
    background-repeat: no-repeat;
    background-attachment: fixed;

    h2{
        color: map-get($colores, color-h2);
        font-size: 8vw;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
        margin: 0 30px;
        transition: all 800ms ease;
        margin-top: 60px;
    }

    h2:hover{
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    }

    @media (max-width:700px){
        h2{
            font-size: 12vw;
        }
    }

    h3{
        color: map-get($colores, color-h3);
        text-align: center;
    }

    h4{
        color: map-get($colores, color-h4);
    }

    p{
        color: map-get($colores, par);
    }
}

/* MAIN */

/* Styles de las primeras 2 pantallas */

#presentacion{

    /* Bienvenida */
    #bienvenida{
        @include medidas();

        h1{
            font-size: 12vw;
            text-align: center;

            background: linear-gradient(180deg, #9d7399,#6874e8);
            background-size: cover;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    /* Texto */
    #text-intro{
        @include medidas();

        height: 200vh;
        width: 100%;

        background: url(../img/fondo7.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;

        border-radius: 50px;

        .container{
            max-width: 1100px;
            min-width: 400px;
            margin: 30px 70px;
            text-align: center;
            border-radius: 20px;
            border: 2px solid #1e2029;
            padding: 20px 15px;
            backdrop-filter: blur(5px);
            box-shadow: 5px 5px 5px rgba(0, 0, 0, .4);
        }

        h2{
            color: #020202;
        }

        p{
            color: azure;
            font-size: 17px;
        }

        span{
            font-weight: 600;
        }

        .motivacional{
            color:lavenderblush;
        }
    }
}

/* Styles del div left */

#left{
    width: 25%;
    left: 0;
    position: absolute;

    .container{
        padding: 30px 20px;

        h3{
            font-size: 32px;
            margin-bottom: 20px;
        }

        .divv{
            margin: 80vh 0;
        }

        .promo{
            text-align: center;
            margin-top: 50vh;

            p{
                color: #000;
                border: 2px solid #000;
                border-radius: 10px;
                padding: 15px 10px;
            }
        }

        .new{
            .card{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                border-radius: 30px;
                margin: 20px 0;
                border: 2px solid #000;
                padding: 10px 0;
                text-align: center;
                padding: 20px;
            }

            span{
                font-weight: 600;
            }

            a{
                text-align: center;
                margin: 10px 0;
                width: 70%;
                color: #000;
                background-color: #6200ff;
                border: 2px solid #000;
                transition: all 500ms ease;
                border-radius: 25px;
                font-weight: 500;
                font-size: 18px;
                padding: 2px 0;
            }

            a:hover{
                color: #fff;
                background-color: #ec76b6;
                border: 1px solid #000;
                scale: 1.1;
            }

            a:active{
                transition: all 100ms ease;
                scale: 1.01;
            }
        }

        .semana{
            h3{
                margin-bottom: -20px;
            }

            .container{
                padding: 25px 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;

                .card{
                    position: relative;
                    width: 100%;
                    height: 300px;
                    margin: 20px 0;
                    border-radius: 30px;

                    border: 2px solid #000;

                    div{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        backface-visibility: hidden;
                        border-radius: 30px;
                    }

                    .front{
                        transform: perspective(500px) rotateY(0deg);
                        transition: all 800ms ease;
                        overflow: hidden;

                        h4{
                            font-size: 42px;
                        }

                        div{
                            background-repeat: no-repeat;
                            background-size: cover;
                            z-index: -1;
                        }

                        .background-1{
                            background-image: url(../img/reto.jpg);
                        }

                        .background-2{
                            background-image: url(../img/pregunta.jpg);
                        }

                        .background-3{
                            background-image: url(../img/triva.png);
                        }
                    }

                    .back{
                        transform: perspective(500px) rotateY(180deg);
                        transition: all 1.5s ease;
                        padding: 25px;
                        flex-direction: column;

                        .title-back{
                            font-weight: 600;
                            font-size: 32px;
                            margin: 10px;
                        }

                        h5{
                            font-size: 22px;
                            margin-bottom: 10px;
                        }

                        span{
                            font-weight: 600;
                        }

                        a{
                            background-color: #e474b7;
                            color: #fff;
                            border: 2px solid #333;
                            padding: 5px 15px;
                            margin-top: 15px;
                            border-radius:35px;
                            transition: all 600ms ease;
                            font-size: 16px;
                        }

                        a:hover{
                            background-color: #fff;
                            color: #e474b7;

                            scale: 1.15;
                            font-size: 18px;
                        }

                        a:active{
                            scale: 1.01;
                            transition: all 100ms ease;
                            font-size: 16px;
                        }
                    }

                    /* Animacion */

                }

                .card:hover .front{
                    transform: perspective(500px) rotateY(180deg);
                }

                .card:hover .back{
                    transform: perspective(500px) rotateY(360deg);
                }
            }
        }

        .redes{

            .container{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 20px;

                img{
                    width: 20px;
                    transform: translateY(4px);
                    margin-right: 5px;
                }

                a{
                    text-align: center;
                    padding: 5px 10px;
                    border-radius: 40px;
                    border:2px solid #000;
                    background-color: #6dc3de;
                    color: #fff;
                    transition: all 600ms ease;
                    box-shadow: 5px 5px 5px rgba(0, 0, 0, .4);
                    width: 140px;
                }

                a:hover{
                    scale: 1.1;
                    box-shadow: 5px 5px 5px rgba(0, 0, 0, .8);
                }

                a:active{
                    scale: 1.01;
                    transition: all 100ms ease;
                }
            }
        }
    }
}

/* Styles del div right */

#right{
    width: 75%;
    right: 0;
    position: absolute;

    /* Noticias Recientes */
    #news{
        @include medidas();

        .container{
            width: 100%;
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            .card-news .title{
                display: flex;
                justify-content: center;
            }

            .son-container{
                width: 300px;
                padding: 30px 20px;
                border: 2px solid #fff;
                border-radius: 20px;
                border-top-left-radius: 0px;
                margin: 20px 25px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 12px;
                overflow: hidden;
                max-height: 500px;
                box-shadow: 5px 5px 5px rgba(0, 0, 0, .4);
                transition: all 600ms ease;

                h3{
                    font-size: 22px;
                    margin-bottom: 15px;
                }

                span{
                    font-weight: 600;
                }

                img{
                    margin-top: 10px;
                    width: 100%;
                    border-radius: 30px
                }

                ol{
                    margin-left: 15px;
                }

                li{
                    margin-bottom: 5px;
                }

                a{
                    text-align: center;
                    font-size: 18px;
                    transition: all 200ms ease;
                }

                a:hover{

                    text-decoration: underline;
                    color: maroon;
                }
            }

            .son-container:hover{
                box-shadow: 5px 5px 5px rgba(0, 0, 0, .8);
                scale: 1.1;
            }
        }
    }

    /* Tabla de pendientes*/
    #pendientes{
        @include medidas();

        h2{
            margin: 30px;
            text-align: center;
        }

        thead{
            background-color: #ff99c8;
        }

        th{
            padding: 5px 15px;
            border: 1px solid #000;
            text-align: center;
        }

        tbody{
            padding: 10px;
        }

        td{
            text-align: center;
            padding: 10px 5px;
            transition: all 500ms ease;
            background-color: #dea4ff;
        }

        td:hover{
            background-color: #ffb3c6;
        }

        @media (max-width:720px) {
            .responsive-1{
                display: none
            }
        }

        @media (max-width:620px) {
            .responsive-3{
                display: none
            }
        }

        @media (max-width:500px) {
            .responsive-4{
                display: none
            }
        }
    }

    /* Calendario */
    #calendario{
        @include medidas();

        h2{
            margin-bottom: 40px;
        }

        .container{
            width: 90%;
            height: 500px;

            .tabla{
                margin-bottom: 50px;
                text-align: center;
                border: 2px solid #000;
                padding: 20px 0;
                border-radius: 30px;

                h3{
                    margin: 40px 0;
                    font-size: 32px;
                }

                ol{
                    list-style: none;
                    display: grid;
                    grid-template-columns: repeat(7,1fr);

                    li{
                        padding: 5px;
                    }

                    li:hover{
                        background-color: #a066ff;
                    }

                    .day-name:hover{
                        background-color: #eee;
                    }

                }

                .firts-day{
                    grid-column-start: 4;
                }

                .day-name{
                    background-color: #eee;
                    font-weight: 600;
                }
            }

            .simbologia{
                border: 2px solid #000;
                border-radius: 10px;
                padding: 20px 15px;
                width: 300px;
                margin: 0 auto;

                h3{
                    margin-bottom: 10px;
                }
            }
        }
    }

    /* Profesores */
    #info-profes{
        @include medidas();

        h2{
            margin-top: 250px;
        }

        .wrapper{
            position: relative;
            width: 100%;
            height: 100%;
            padding: 20px;
            display: flex;
            align-content: center;
            justify-content: center;
            gap: 24px;
            flex-wrap: wrap;
        }

        .card{
            position: relative;
            width: 325px;
            height: 450px;
            background: #000;
            border-radius: 18px;
            overflow: hidden;
            box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
        }

        .poster{
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .poster::before{
            content: '';
            position: absolute;
            bottom: -45%;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            transition: all .3s ease;
        }

        .card:hover .poster::before{
            bottom: 0;
        }

        .poster img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: .3s;
        }

        .card:hover .poster img{
            transform: scale(1.1);
        }

        .details{
            position: absolute;
            bottom: -100%;
            left: 0;
            width: 100%;
            height: auto;
            padding: 1.5em 1.5em 2em;
            background: #000;
            backdrop-filter: blur(16px) saturate(120%);
            transition: .3s;
            color: #fff;
            z-index: 2;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        .card:hover .details{
            bottom: 0;
        }

        .details h3,
        .details h4{
            font-weight: 700;
        }

        .details h3{
            font-size: 1.5em;
            margin-bottom: 5px;
            color: #405de6;
        }

        .details h4{
            font-weight: 400;
            font-size: 1em;
            margin-bottom: 10px;
            opacity: .6;
            color: #fff;
        }

        .details .tags{
            display: flex;
            gap: .375em;
            margin-bottom: .875em;
            font-size: .85em;
        }

        .details .tags span{
            padding: .35rem .65rem;
            color: #fff;
            border: 1.5px solid rgba(255 255 255 / 0.4);
            border-radius: 4px;
            border-radius: 50px;
        }

        .details .desc{
            color: #fff;
            opacity: .8;
            line-height: 1.5;
            margin-bottom: 1em;
        }

        .ame{
            color: #fff100;
            animation-name: heartbeat;
            animation-duration: 1s;
            animation-iteration-count: infinite;
        }

        @keyframes heartbeat{
            0%{transform: scale(1);transform:rotate(10deg);}
            25%{transform: scale(1.3);transform:rotate(-10deg);}
            50%{transform: scale(1);transform:rotate(10deg);}
            75%{transform: scale(0.7);transform:rotate(-10deg);}
            100%{transform: scale(1);transform:rotate(10deg);}
        }
    }

    /* Torneos */
    #torneos{
        @include medidas();

        h3{
            margin-bottom: 10px;
        }

        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            .card{
                width: 350px;
                border: 2px solid #000;
                border-radius: 20px;
                padding: 20px 30px;
                margin: 30px 30px;

                p{
                    text-align: justify;
                }
            }

            .uls{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
            }

            ul{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-top: 20px;
                gap: 5px;
            }
        }
    }

    /* Galeria */
    #galery{
        @include medidas();

        h2{
            margin: 0;
        }
    }

    /* Footer */
    #footer{
        position: absolute;
        width: 133.5%;
        left: -33.5%;
        height: 120px;
        bottom: -130px;

        background: linear-gradient(270deg,#b8c0ff,#bbd0ff);

        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        .container{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo{
                color: #003566;
                font-size: 42px;
                font-weight: 800;
                margin: 0 50px;
                transition: all 400ms ease;
            }

            .logo:hover{
                color: #03045e;
                font-size: 50px;
                text-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
            }

            .redes{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                margin-right: 50px;
                gap: 20px;

                a{
                    padding: 5px 10px;
                    border: 1px solid #000;
                    border-radius: 30px;
                    box-shadow: 5px 5px 5px rgba(0, 0, 0, .4);
                    transition: all 400ms ease;
                    width: 170px;
                    text-align: center;
                }

                .insta{
                    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
                }

                .face{
                    background: linear-gradient(45deg, #0165E1, #17A9FD);
                }

                .face:hover{
                    background: linear-gradient(45deg, #17A9FD, #0165E1);
                }

                .wasap{
                    background: linear-gradient(45deg, #E5FFCC, #1EBEA5, #00E676, #D0E9EA, #EDF8F5, #ffffff);

                    color: #004d40;
                }

                .wasap:hover{
                    background: linear-gradient(45deg, #D0E9EA, #EDF8F5, #E5FFCC, #1EBEA5, #00E676, #ffffff);
                }

                a:hover{
                    scale: 1.1;
                    box-shadow: 5px 5px 5px rgba(0, 0, 0, .8);
                    font-size: 22px;
                }

                a:active{
                    transition: all 50ms ease;
                    scale: 0.9;
                }

                a{
                    color: #fff;
                    font-size: 20px;
                    font-weight: 500;
                }

                img{
                    width: 20px;
                    margin-right: 5px;
                    transform: translateY(3px);
                }
            }

            @media (max-width:650px) {
                .face{
                    display: none;
                }
            }
        }
    }
}

/* Responsive */
@media (max-width:1200px){
    #left{
        display: none;
    }

    #right{
        width: 100%;

        #footer{
            width: 100%;
            left: 0;
        }
    }
}